/********************************************************************************************************************************
********************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
/********************************************************************************************************************************
********************************************************************************************************************************/
/********************************************************
********************************************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/* line 4, ../sass/helper/_extend.scss */
.margin-none {
  margin: 0;
}

/* line 7, ../sass/helper/_extend.scss */
.margin-top-none {
  margin-top: 0;
}

/* line 10, ../sass/helper/_extend.scss */
.margin-right-none {
  margin-right: 0;
}

/* line 13, ../sass/helper/_extend.scss */
.margin-bottom-none {
  margin-bottom: 0;
}

/* line 16, ../sass/helper/_extend.scss */
.margin-left-none {
  margin-left: 0;
}

/********************************************************
********************************************************/
/********************************************************
********************************************************/
/* line 25, ../sass/helper/_extend.scss */
.padding-none {
  padding: 0;
}

/* line 28, ../sass/helper/_extend.scss */
.padding-top-none {
  padding-top: 0;
}

/* line 31, ../sass/helper/_extend.scss */
.padding-right-none {
  padding-right: 0;
}

/* line 34, ../sass/helper/_extend.scss */
.padding-bottom-none {
  padding-bottom: 0;
}

/* line 37, ../sass/helper/_extend.scss */
.padding-left-none {
  padding-left: 0;
}

/**************************************************************************************************************
***************************************************************************************************************
1. Color
***************************************************************************************************************
**************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
	1. Define the breakpoints at which your layout will change, adapting to different screen sizes.
	2. Extra small screen-phone, Small screen-tablet, Medium screen - desktop, Large screen - wide desktop
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/***************************************************************************************************************
***************************************************************************************************************/
/* line 1, ../sass/base/_global.scss */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

/* line 1, ../sass/component/_slider-rth.scss */
.slider-rth {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}
/* line 6, ../sass/component/_slider-rth.scss */
.slider-rth ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}
/* line 12, ../sass/component/_slider-rth.scss */
.slider-rth ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}
/* line 25, ../sass/component/_slider-rth.scss */
.slider-rth a.control_prev,
.slider-rth a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
/* line 43, ../sass/component/_slider-rth.scss */
.slider-rth a.control_prev:hover,
.slider-rth a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
/* line 49, ../sass/component/_slider-rth.scss */
.slider-rth a.control_prev {
  border-radius: 0 2px 2px 0;
}
/* line 53, ../sass/component/_slider-rth.scss */
.slider-rth a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* line 59, ../sass/component/_slider-rth.scss */
.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
