
/**************************************************************************************************************
***************************************************************************************************************
1. Color
***************************************************************************************************************
**************************************************************************************************************/

/*$clr-white:					#fff;
$clr-black:					#000;

$grey-lighter:          #fbfbfb !default;
$grey-light:            #949494 !default;
$grey-dark:             #666 !default;

$brand-primary:         #4576a2 !default;
$brand-secondary:       #3791e2 !default;
$brand-red:					#ed1c24 !default;*/

$brand-blue: #145daa !default;
$brand-green: #e73034 !default;
$brand-red: #0d9f4a !default;

/***************************************************************************************************************
***************************************************************************************************************/
