// generic transform
@mixin transition($prop:all,$time:.7s, $fun:cubic-bezier(0.90, -0.25, 0.290, 1.25)) {
    -webkit-transition: $prop $time $fun;
    -moz-transition: $prop $time $fun;
    -ms-transition: $prop $time $fun;
    -o-transition: $prop $time $fun;
    transition: $prop $time $fun;
}